aiofiles
aiohttp
aiosignal
alembic
altair
annotated-types
anyio
appdirs
asgiref
attrs
backoff
bcrypt
beautifulsoup4
blinker
Brotli
build
CacheControl
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
cleo
click
colorama
coloredlogs
contextlib2
contourpy
crashtest
crewai
crewai-tools
cryptography
cycler
dataclasses-json
decorator
Deprecated
deprecation
distlib
distro
docstring-parser
dulwich
embedchain
fastapi
fastjsonschema
ffmpy
filelock
Flask
flatbuffers
fonttools
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
gptcache
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
gTTS
h11
httpcore
httplib2
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib_resources
iniconfig
installer
instructor
itsdangerous
jaraco.classes
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
keyring
kiwisolver
kubernetes
lancedb
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-text-splitters
langsmith
Mako
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mmh3
monotonic
more-itertools
mpmath
msgpack
multidict
mutagen
mypy-extensions
nodeenv
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common0
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
outcome==1.3.0.post0
overrides
packaging
pandas
pexpect
pillow
pkginfo
platformdirs
plotly
pluggy
poetry
poetry-core
poetry-plugin-export
posthog
proto-plus
protobuf
ptyprocess
pulsar-client
py
pyarrow
pyasn1
pyasn1_modules
pycparser
pycryptodomex
pydantic
pydantic_core
pydeck
pydub
PyGithub
Pygments
PyJWT
pylance
PyNaCl
pyparsing
pypdf
PyPika
pyproject_hooks
pyreadline3
pyright
pysbd
PySocks
pytest
python-dateutil==2.9.0.post0
python-dotenv
python-multipart
pytube
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
rapidfuzz==3.8.1
ratelimiter==1.2.0.post0
referencing==0.35.0
regex==2023.12.25
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retry==0.9.2
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
ruff==0.4.2
schema==0.7.5
selenium==4.20.0
semantic-version==2.10.0
semver==3.0.2
setuptools==69.5.1
shapely==2.0.4
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.29
starlette==0.37.2
streamlit==1.34.0
sympy==1.12
tenacity==8.2.3
tiktoken==0.5.2
tokenizers==0.19.1
toml==0.10.2
tomlkit==0.12.0
toolz==0.12.1
tornado==6.4
tqdm==4.66.2
trio==0.25.0
trio-websocket==0.11.1
trove-classifiers==2024.4.10
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
uvicorn==0.29.0
virtualenv==20.26.0
watchdog==4.0.0
watchfiles==0.21.0
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.2
wrapt==1.16.0
wsproto==1.2.0
yarl==1.9.4
youtube-transcript-api==0.6.2
yt-dlp==2023.12.30
zipp==3.18.1
